
.title {
    color: #02ccba;
    padding-left: 45px;
}

.subtitle {
    color: rebeccapurple;
    padding-left: 45px;
}

img {
    width:250px;
    height:250px;
    object-fit:cover;
}

.header {
    background-color: rgb(39, 117, 168);
    color: white;
    height: 100px;
}

.header-logo {
    float: left;
    font-size: 35px;
    padding: 20px 40px;
}

.header-about {
    float: left;
    padding: 33px 20px;
    text-decoration:underline;
}

.header-review {
    float: left;
    padding: 33px 20px;
    text-decoration:underline;
}
